# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CodePraC\Python_PraC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
